body{
    margin: 0;
    overflow-x: hidden;
}
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 0;
    background-color:#FCF8F3;
}
#logo{
    content:url("./images/logo.svg")
}

.nav_menu{
    display: flex;
    width: 65%;
    align-items:center;
    justify-content: start;
    flex-direction: row;
}

nav{
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
nav > a{
    display: flex;
    text-decoration: none;
    align-items:center;
    color: #000000;
}

.search-photo{
    content:url("./images/search.svg")
}

.shoping{
    content: url("./images/shoping.svg")
}
.header-right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:20%;
}

#Sign-up {
    width: auto;
    height: auto;
    font-size: 17px;
    margin: 0;
    border:none;
    background-color: #FCF8F3;
    cursor: pointer;
}
#Log-in {
    width: auto;
    height: auto;
    font-size: 17px;
    margin: 0;
    border:none;
    background-color: #FCF8F3;
    cursor: pointer;
}
#translate {
    width: auto;
    height: auto;
    font-size: 17px;
    margin: 0;
    border:none;
    background-color: #FCF8F3;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  

.basket{
    display: flex;
    width: 10%;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
}

.container-first{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url("./images/backgroundfirst.svg");
    height: 730px;
    display: flex;
    align-items:end;
}

.textForFirst{
    width: 30%;
    margin-left: 74px;
    margin-bottom: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:start;
}

.title-first{
  
    text-transform: uppercase;
    margin: 10px 0;
}

.text-first{
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 65px;

  
}
#shop-now-first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    padding: 15px 20px;
    background-color: #212806;
    border: 1px solid #212806;
    border-radius: 20px;
    color: #FCF8F3;
}

.feedback{
    display: flex;
    width: 70%;
    align-items:center;
    justify-content: center;
}
.feedback > div{
    width: 70%;
    display: flex;
    justify-content: center;
}
.stars{
    content: url("./images/stars.svg")
}
.feedback > div > p{
   
    font-size: 19px;
}

button{
    cursor: pointer;
}
.Sustainability{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 200px;
    height: 45px;
    background-color:none;
    border:1px solid black;
    border-radius: 30px
}

.feedback > div{
    margin-top: 10px;
    margin-left: 60px;
    width: 42%;
    display: flex;
    justify-content: space-between;
}

.container-second{
    width: 100%;
    height:500px;

    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
}

.middle-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    font-size: 54px;
    width: 60%;
    text-align: center;
    word-spacing: 3px;   
  
}

.container-cards{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-top: 290px;

}

.title-contaner{
    font-size: 40px;
    margin: 35px 0;
    word-spacing: 2px;
   
}
.text-title{
    line-height: 150%;
    word-spacing: 1px;
    font-size: 15px;
}

#shop-all{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 75%;
    margin-right: 75px;
    margin-bottom: 30px;
    height: 47px;
    background-color:#212806;
    border:1px solid #212806;
    border-radius:30px;
    color:#FCF8F3

}

.text-and-button{
    width: 20%;
    height: 502px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-left: 70px;
    flex-direction: column;
    align-items: center;
}

.Arrows{
    width: 85%;
    margin-bottom: 8px;
}

#arrow-left{
    border:none;
    background-color:#ffffff;
  
}
#arrow-right{
    border:none;
    background-color:#ffffff;
}

.container-slider{
  
    width: 80%;
    display: flex;
    justify-content: start;
    align-items:center;
    flex-direction: column;
}

.title-card{
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
}
.name-card{
    width: 90%;
    line-height: 120%;
    font-size: 23px;
    word-spacing: 1px;
    margin: 0;
}
.price{
    font-size: 16px;
    margin: 0;
}

.slider-images{
    display: flex;
    width: 95%;
    flex-direction: row;
    gap: 10px;
   
}

.images{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    width: auto;
    gap: 16px;
    height: 450px;
}

.container-third{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 1032px;
    margin-top: 139px;
    
}
.container-third > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #F5EEE6;
}
.tortoes{
    width: 720px;
    height: 800px;
    content:url("./images/tortoes.png")
}

.right-tortoes{

    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.text-for-tortoes{
    font-size: 43px;
    text-align: center;
    line-height: 115%;
    word-spacing: 4px;
    width: 58%;
}


.contaner-fourth{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    padding-top: 80px;
}

.header-shipping{
    display: flex;
    align-items:center;
    justify-content: center;
}

.header-shipping > p{
    text-align: center;
    font-size: 54px;
   
}


.cadrs-usa{
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: row;
    width: 92%;
    
    height: auto;
}

.cadrs-usa > div{
    width: 302px;
    height: 330px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items:center;
    font-size: 25px;

}

.cadrs-usa > div > p{
    width: 73%;
}



.Button-shop-now{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-color:#212806;
    color:#F5EEE6;
    margin-top: 70px;
    width: 230px;
    border: 1px solid #212806;
    border-radius:20px;
}

.container-fives{
    margin-top: 265px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.container-fives > div{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-for-image > p:first-child{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.text-for-image > b{
    font-size: 41px;
}

.text-for-image{
    width: 35%;
    display: flex;
    flex-direction: column;
  padding-left: 70px;
    justify-content: space-between;
}

.text-for-image > div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 15px;
 
}

.text-for-image > div > p:first-child{
    width: 96%;
    word-spacing: 2px;
    line-height: 200%;
    margin-bottom: 5px;
    
}

#read-article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 255px;
    height: 45px;
    border: 1px solid #000000;
    background-color:#ffffff;
    border-radius:20px;
    margin-bottom: 10px;
}

.text-for-image > div > p:last-child{
    width: 90%;
    font-size: 17px;
    word-spacing: 2px;
    line-height: 180%;
    margin-top: 0;
    margin-bottom: 35px;
}

.text-for-image > div > p{
    margin-top: 0;
}

.image{
    padding-top: 14px;
   padding-right: 75px;
    content:url("./images/happybirthday.png");
}

.container-sixes{
    width: 100%;
    margin-top: 190px;
    height: auto;
    display: flex;
    align-items:center;
    justify-content: center;
}
.container-sixes > div{
    width: 90.5%
  
}
.container-sixes > div > p{
    font-size: 52px;
    word-spacing: 10px;
  
   
}
.Cards{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
}
.Cards > div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 561.41px;
    height: 520px;
}



.Greeting > div{
    text-align: center;
    background-color:#F9E9E0;
    width: 100%;
    font-size: 23px;
}

.Assorted > div{
    text-align: center;
    background-color:#E9EDEE;
    width: 100%;
    font-size: 23px;
}

.Notebooks > div{
    text-align: center;
    background-color:#F5EFEF;
    width: 100%;
    font-size: 23px;
}
.Greeting{
    
    background-image:url("./images/greeting.png");
}

.Assorted{

    background-image:url("./images/assorted.png");
}
.Notebooks{

    background-image:url("./images/notebooks.png");
}



  .slider:before {
    position: absolute;
    content:url("./images/Sun.png");
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #727a98;
  }
  
 
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    content:url("./images/moon.png");
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.night-theme{
    background-color:#310A31;
    color:#50FFB1;
}
.night-text{
    color:#50FFB1;
}