main{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;


}
main > p{
    margin: 50px 0;
    font-size: 40px; 
    text-transform: uppercase;
}
.users{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    background-color: #212806;
    border: 1px solid #212806;
    border-radius: 40px;
    color:white
}
.user{
    width: 80%;
    background-color: #303811;
    border: 1px solid #303811;
    border-radius: 20px;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}
.users  p{
    width: 100%;
}